html{
    background: url("/images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1{
    font-size: 20pt;
}
h2{
    font-size: 16pt;
    margin: 25px;
    font-weight:bold;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.banner{
    height:100px;
    min-width:650px;
    width:100%;
    margin-bottom:10px;
}

.banner img{
    float:left;
}
.banner h1{
    font-weight:bold;
    position:absolute;
    float: left;
    color:white;
    margin: 30px 0 0 80px;
}

.logo{
    float:left;
}

.menu{
    color: #fff;
    width:350px;
    float:right;
    list-style:none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float:left;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover, .dropdown:hover .dropbtn {
    color: #c1c1c1;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    z-index: 999;
    display: none;
    position: absolute;
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    border:1px solid white;
    border-radius:5px;
    width:150px;
    min-width:150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background: rgb(222, 222, 222);
    background: rgba(255, 255, 255, 0.6);
    color:white;
    width:100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#user_icon{
    height:100px;
    position:absolute;
    top:-50px;
    left:95px;
    background:white;
    border-radius:100px;
}

.login {
    height:230px;
    width:190px;
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    position:relative;
    margin-top:150px;
    margin-left: auto;
    margin-right: auto;
    padding:50px;
    border:1px #CCC solid;
    color:white;
}


.login h2{
    font-size:24pt;
    margin-bottom: 30px;

}
.login input {
    padding:5px;
    margin: 10px;
    float:left;
}

.login a{
    margin-top:30px;
    float:right;
}

.register{
    background-color: #d0e4ff;
    height:350px;
    width:190px;
    margin:auto;
    border:1px #CCC solid;
    padding:10px;
}

.register input{
    padding:5px;
    margin-top:5px;
    float:left;
}

.register a{
    margin-top:30px;
    float:right;
}

.container1{
    z-index: 1;
     position:relative;
        background: rgb(222, 222, 222);
        background: rgba(255,255,255,0.2);
     width:400px;
    border-radius:5px;
     margin:auto;
     border:1px #CCC solid;
     padding:10px;
 }

.search_bar{
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    width:100%;
    padding: 10px 0 10px 0;
    border-radius:5px;
}
.search_bar input{
    margin-left:10px;
}

#search_bar_input{
    width:40%;
}

#search_bar_button{
    float:right;
    margin-right:10px;
}

.post{
    z-index: 1;
    position: relative;
    border: 1px #fff solid;
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    padding:10px;
    min-width:500px;
    width:50%;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}

.post h2{
    color:white;
    font-size:24pt;
    text-align: center;
}

.post table{
    border-radius:5px;
    table-layout: fixed;;
    width:100%;
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
}

.post table a
{
    display:block;
    text-decoration:none;
}

.post tr{
    height:50px;
}

.post tr:not(:first-child):hover{
    background: rgb(119, 119, 119);
    background: rgba(76, 76, 76, 0.64);
    color: #FFF;
}
.post th{
    font-size: 12pt;
    font-weight:bold;
    text-align: center;
    vertical-align:middle;
}

.post tr{
    border-bottom: solid 1px #ffffff;
}
.post td{
    text-align: center;
    vertical-align:middle;
    padding:15px;
}

.film_form{
    height:auto;
    width:190px;
    margin:auto;
    padding:30px;

}
.container1 h2{
    font-size:24pt;
    font-weight: bold;
    color:white;
    text-align: center;
    vertical-align: middle;
}
.film_form input{
    padding:5px;
    margin:5px 0 5px 0;
    float:left;
}

.film_form a{
    margin-top:30px;
    float:right;
}

.film_form textarea{
    resize:none;
}
.message{
    z-index:998;
    font-size:12pt;
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    color:black;
    padding:10px;
    border:1px solid white;
    border-radius:5px;
    margin:5px;
    text-align:center;
    position:relative;
    border:20px;
}
.message b{
    font-size:16pt;
    font-weight:bold;
}

#detail_button{
    background: rgb(222, 222, 222);
    background: rgba(255,255,255,0.2);
    color: black;
    border: 1px solid #555555;
}

#detail_button:hover {
    background: rgb(23, 23, 23);
    background: rgba(23,23,23,0.8);
    color: white;
}

#genre{
    text-align: center;
    font-style:italic;
    font-size:18pt;
}

#samenvatting{
    font-size:14pt;
}